In [1]:
import pandas as pd
import numpy as np

In [107]:
GDP_CUMYOY: Real GDP Cumulative year-on-year
GDP_CUM: Real GDP Cumulative value
AR: Agriculture, Forestry and Fisheries
ID: Industrial
CO: Construction
WH: Wholesale and retail trade
TR: Transportation, storage and postal services
AC: Accommodation and catering
FI: Finance
RE: Real Estate
IN: Information transmission, software and information technology services
LE: Leasing and business services
OT: Other Industries

SyntaxError: invalid syntax (587145731.py, line 1)

In [210]:
GDP_CUM = pd.read_csv('GDP_CUM.csv').set_index('QTR')
GDP_CUMYOY_SECTORS = pd.read_csv('GDP_CUMYOY_SECTORS.csv').set_index('QTR')
GDP_CUMYOY_SECTORS_PULL = pd.read_csv('GDP_CUMYOY_SECTORS_PULL.csv').set_index('QTR')
GDP_CUMYOY_SECTORS_PULL

,AR,ID,CO,WH,TR,AC,FI,RE,IN,LE,OT
QTR,,,,,,,,,,,
1992-03,10.10,56.60,6.50,10.20,4.80,1.80,1.00,4.40,NaN,NaN,4.80
1992-06,10.90,58.30,7.10,6.50,4.30,1.40,3.10,3.90,NaN,NaN,4.50
1992-09,9.20,55.10,9.90,6.40,5.50,1.60,4.00,4.10,NaN,NaN,4.20
1992-12,8.00,56.60,6.80,4.80,4.60,3.80,2.60,6.50,NaN,NaN,6.80
1993-03,4.20,58.30,5.30,6.40,5.30,1.70,4.60,4.40,NaN,NaN,9.90
...,...,...,...,...,...,...,...,...,...,...,...
2021-12,6.74,37.94,0.93,12.32,7.15,2.78,3.90,3.00,7.76,4.24,13.25
2022-03,6.19,44.02,1.42,8.00,1.77,-0.10,9.95,-3.27,10.08,3.45,18.50
2022-06,11.46,43.29,6.97,3.45,-1.33,-1.63,18.76,-13.56,15.64,1.08,15.89
2022-09,9.61,40.02,10.51,3.85,0.42,-0.35,15.27,-10.29,11.71,2.51,16.75
2022-12,10.88,37.03,12.59,2.89,-1.12,-1.20,14.71,-11.45,11.78,3.71,20.20

In [211]:
GDP_CUM['GDP_CUM_YOY_AB'] = GDP_CUM['GDP_CUM'] -  GDP_CUM['GDP_CUM'].shift(4) 
GDP_CUM = GDP_CUM.dropna()
GDP_CUM

         GDP_CUMYOY     GDP_CUM  GDP_CUM_YOY_AB
QTR
1992-03       13.60    18228.07         2182.23
1992-06       13.80    39316.96         4767.79
1992-09       14.10    62794.72         7759.91
1992-12       14.22    88669.35        11039.03
1993-03       15.30    21016.97         2788.90
...             ...         ...             ...
2021-12        8.40  1095771.16        84912.15
2022-03        4.80   256322.10        11739.94
2022-06        2.50   525197.30        12809.69
2022-09        3.00   813829.50        23703.77
2022-12        3.00  1128644.30        32873.14

[124 rows x 3 columns]

In [243]:
GDP_CUMYOY_SECTORS_AB = pd.DataFrame((np.array(GDP_CUMYOY_SECTORS_PULL.fillna(0) / 100).T * np.array(GDP_CUM['GDP_CUM_YOY_AB'])).T, columns = GDP_CUMYOY_SECTORS_PULL.columns, index = GDP_CUMYOY_SECTORS_PULL.index)
GDP_CUMYOY_SECTORS_AB

,AR,ID,CO,WH,TR,AC,FI,RE,IN,LE,OT
QTR,,,,,,,,,,,
1992-03,220.405230,1235.142180,141.844950,222.587460,104.747040,39.280140,21.822300,96.018120,0.000000,0.000000,104.747040
1992-06,519.689110,2779.621570,338.513090,309.906350,205.014970,66.749060,147.801490,185.943810,0.000000,0.000000,214.550550
1992-09,713.911720,4275.710410,768.231090,496.634240,426.795050,124.158560,310.396400,318.156310,0.000000,0.000000,325.916220
1992-12,883.122400,6248.090980,750.654040,529.873440,507.795380,419.483140,287.014780,717.536950,0.000000,0.000000,750.654040
1993-03,117.133800,1625.928700,147.811700,178.489600,147.811700,47.411300,128.289400,122.711600,0.000000,0.000000,276.101100
...,...,...,...,...,...,...,...,...,...,...,...
2021-12,5723.078910,32215.669710,789.682995,10461.176880,6071.218725,2360.557770,3311.573850,2547.364500,6589.182840,3600.275160,11250.859875
2022-03,726.702286,5167.921588,166.707148,939.195200,207.796938,-11.739940,1168.124030,-383.896038,1183.385952,405.027930,2171.888900
2022-06,1467.990474,5545.314801,892.835393,441.934305,-170.368877,-208.797947,2403.097844,-1736.993964,2003.435516,138.344652,2035.459741
2022-09,2277.932297,9486.248754,2491.266227,912.595145,99.555834,-82.963195,3619.565679,-2439.117933,2775.711467,594.964627,3970.381475
2022-12,3576.597632,12172.923742,4138.728326,950.033746,-368.179168,-394.477680,4835.638894,-3763.974530,3872.455892,1219.593494,6640.374280

In [247]:
GDP_CUM_SECTORS = np.multiply(GDP_CUMYOY_SECTORS_AB, 1 + 1 / (GDP_CUMYOY_SECTORS.fillna(0) / 100)) 
GDP_CUM_SECTORS

,AR,ID,CO,WH,TR,AC,FI,RE,IN,LE,OT
QTR,,,,,,,,,,,
1992-03,2696.868488,7984.553000,925.518707,2125.044383,1447.657809,201.594768,567.379800,609.484002,NaN,NaN,1414.085040
1992-06,7943.819253,17256.817247,2056.853648,3179.409591,2588.909970,334.817574,3164.158429,1101.923170,NaN,NaN,2317.987315
1992-09,13934.499127,25761.692370,4479.492394,4970.816582,4378.601069,592.681428,5483.669733,1689.519715,NaN,NaN,3135.538806
1992-12,19672.960698,35944.340885,4326.900062,5571.485619,5555.463173,1972.549190,4723.101024,3414.030561,NaN,NaN,7278.080475
1993-03,2459.809800,9442.893604,793.277639,2057.327495,1529.229457,478.423118,1398.481479,827.950680,NaN,NaN,2306.256247
...,...,...,...,...,...,...,...,...,...,...,...
2021-12,86329.824121,341981.724614,72579.046177,105562.784880,46277.965248,17492.338347,86100.920100,75329.207357,44458.049737,35745.589089,176704.681566
2022-03,12639.854516,85916.696401,12074.360577,25021.123405,10102.889224,3901.573393,24072.516775,18810.905862,12140.663285,8346.752048,46496.152165
2022-06,30252.117415,173585.157256,32779.813714,49545.745972,21125.740748,7248.271589,46095.785917,36023.744384,23779.908516,15509.972652,86846.282283
2022-09,54049.120865,265871.350213,54392.645956,76962.190562,33284.833834,11768.921805,69429.850752,52995.380544,34317.887228,24393.549707,132047.203249
2022-12,86753.286748,370200.092624,79388.334253,106509.338857,45654.216832,16756.725798,91186.333430,70039.447627,46426.916244,37089.990376,181387.065859

In [248]:
GDP_CUMYOY_SECTORS.iloc[-12:]

          AR    ID    CO    WH    TR    AC   FI    RE    IN    LE   OT
QTR
2020-03 -2.6  -8.5 -18.2 -17.5 -13.6 -39.5  4.9  -7.6  14.6  -6.7 -2.0
2020-06  1.3  -1.9  -2.7  -7.7  -5.2 -30.8  5.4  -2.4  15.9  -6.0 -1.6
2020-09  2.7   0.7   1.2  -3.8  -1.8 -23.0  5.9  -0.1  17.3  -5.4 -0.3
2020-12  3.3   2.4   2.7  -0.9   0.8 -16.8  5.9   1.3  18.3  -2.5  0.9
2021-03  8.0  24.4  22.8  26.6  32.1  43.7  5.4  21.4  21.2   7.9  8.8
2021-06  7.7  15.9   8.6  17.0  21.1  28.9  4.8  13.7  20.3   6.9  7.5
2021-09  7.4  12.0   4.3  13.5  15.4  19.3  4.5   8.2  19.3   6.5  6.7
2021-12  7.1  10.4   1.1  11.0  15.1  15.6  4.0   3.5  17.4  11.2  6.8
2022-03  6.1   6.4   1.4   3.9   2.1  -0.3  5.1  -2.0  10.8   5.1  4.9
2022-06  5.1   3.3   2.8   0.9  -0.8  -2.8  5.5  -4.6   9.2   0.9  2.4
2022-09  4.4   3.7   4.8   1.2   0.3  -0.7  5.5  -4.4   8.8   2.5  3.1
2022-12  4.3   3.4   5.5   0.9  -0.8  -2.3  5.6  -5.1   9.1   3.4  3.8

In [249]:
GDP_CUM_SECTORS.iloc[-12:]

,AR,ID,CO,WH,TR,AC,FI,RE,IN,LE,OT
QTR,,,,,,,,,,,
2020-03,9012.069412,64114.458068,9104.427409,18124.074050,8069.908888,2548.750776,20403.706117,14996.624801,9910.561030,7105.429607,38967.514404
2020-06,22730.555595,134251.655505,26011.284894,38274.895518,17573.793235,5294.344161,37231.256742,30504.014532,18426.266047,13118.864895,71759.444022
2020-09,61153.599285,301917.203606,63811.528777,87715.026434,40694.557034,13114.100585,80533.025454,68172.651108,38587.176695,29368.190339,158465.794799
2020-12,80853.641427,339714.127445,77223.735683,100873.182866,45787.770756,15841.411040,85887.836158,75963.784064,42017.611482,33861.016098,173452.570798
2021-03,11747.696085,79742.918172,11431.875321,23967.416485,10291.776418,3732.395732,22154.359767,18694.513453,11269.264710,7751.338639,44017.659323
2021-06,29639.404697,166081.717303,30769.628958,49991.482476,21838.637361,7674.494390,43744.953009,38575.735228,23165.234047,15654.712546,86485.226190
2021-09,54246.081396,250181.151024,50119.117262,76958.523263,33345.281439,12205.655445,65997.694239,57227.986260,33565.552475,24264.731271,131400.016125
2021-12,86329.824121,341981.724614,72579.046177,105562.784880,46277.965248,17492.338347,86100.920100,75329.207357,44458.049737,35745.589089,176704.681566
2022-03,12639.854516,85916.696401,12074.360577,25021.123405,10102.889224,3901.573393,24072.516775,18810.905862,12140.663285,8346.752048,46496.152165
2022-06,30252.117415,173585.157256,32779.813714,49545.745972,21125.740748,7248.271589,46095.785917,36023.744384,23779.908516,15509.972652,86846.282283
2022-09,54049.120865,265871.350213,54392.645956,76962.190562,33284.833834,11768.921805,69429.850752,52995.380544,34317.887228,24393.549707,132047.203249
2022-12,86753.286748,370200.092624,79388.334253,106509.338857,45654.216832,16756.725798,91186.333430,70039.447627,46426.916244,37089.990376,181387.065859

In [205]:
GDP_CUMYOY_SECTORS.iloc[-12:]

          AR    ID    CO    WH    TR    AC   FI    RE    IN    LE   OT
QTR
2020-03 -2.6  -8.5 -18.2 -17.5 -13.6 -39.5  4.9  -7.6  14.6  -6.7 -2.0
2020-06  1.3  -1.9  -2.7  -7.7  -5.2 -30.8  5.4  -2.4  15.9  -6.0 -1.6
2020-09  2.7   0.7   1.2  -3.8  -1.8 -23.0  5.9  -0.1  17.3  -5.4 -0.3
2020-12  3.3   2.4   2.7  -0.9   0.8 -16.8  5.9   1.3  18.3  -2.5  0.9
2021-03  8.0  24.4  22.8  26.6  32.1  43.7  5.4  21.4  21.2   7.9  8.8
2021-06  7.7  15.9   8.6  17.0  21.1  28.9  4.8  13.7  20.3   6.9  7.5
2021-09  7.4  12.0   4.3  13.5  15.4  19.3  4.5   8.2  19.3   6.5  6.7
2021-12  7.1  10.4   1.1  11.0  15.1  15.6  4.0   3.5  17.4  11.2  6.8
2022-03  6.1   6.4   1.4   3.9   2.1  -0.3  5.1  -2.0  10.8   5.1  4.9
2022-06  5.1   3.3   2.8   0.9  -0.8  -2.8  5.5  -4.6   9.2   0.9  2.4
2022-09  4.4   3.7   4.8   1.2   0.3  -0.7  5.5  -4.4   8.8   2.5  3.1
2022-12  4.3   3.4   5.5   0.9  -0.8  -2.3  5.6  -5.1   9.1   3.4  3.8

In [207]:
GDP_CUM .iloc[-12:]

         GDP_CUMYOY     GDP_CUM  GDP_CUM_YOY_AB
QTR
2020-03        -6.9   206747.39       -15322.84
2020-06        -1.7   454647.39        -7862.67
2020-09         0.6   719604.49         4291.88
2020-12         2.2  1010859.01        21760.18
2021-03        18.3   244582.16        37834.77
2021-06        12.7   512387.61        57740.22
2021-09         9.8   790125.73        70521.24
2021-12         8.4  1095771.16        84912.15
2022-03         4.8   256322.10        11739.94
2022-06         2.5   525197.30        12809.69
2022-09         3.0   813829.50        23703.77
2022-12         3.0  1128644.30        32873.14

In [230]:
((GDP_CUM_SECTORS.sum(axis = 1) / GDP_CUM_SECTORS.sum(axis = 1).shift(4) -1) * 100).iloc[-12:]

QTR
2020-03   -10.853203
2020-06   -12.032447
2020-09    30.288052
2020-12     5.704684
2021-03    20.974604
2021-06    23.711573
2021-09   -16.323869
2021-12     1.594570
2022-03     6.013971
2022-06     1.785618
2022-09     2.533356
2022-12     3.934513
dtype: float64

In [146]:
GDP_CUM

         GDP_CUMYOY     GDP_CUM  GDP_CUM_YOY_AB
QTR
1992-03       13.60    18228.07         2182.23
1992-06       13.80    39316.96         4767.79
1992-09       14.10    62794.72         7759.91
1992-12       14.22    88669.35        11039.03
1993-03       15.30    21016.97         2788.90
...             ...         ...             ...
2021-12        8.40  1095771.16        84912.15
2022-03        4.80   256322.10        11739.94
2022-06        2.50   525197.30        12809.69
2022-09        3.00   813829.50        23703.77
2022-12        3.00  1128644.30        32873.14

[124 rows x 3 columns]

In [141]:
GDP_CUM

         GDP_CUMYOY     GDP_CUM  GDP_CUM_YOY_AB
QTR
1992-03       13.60    18228.07         2182.23
1992-06       13.80    39316.96         4767.79
1992-09       14.10    62794.72         7759.91
1992-12       14.22    88669.35        11039.03
1993-03       15.30    21016.97         2788.90
...             ...         ...             ...
2021-12        8.40  1095771.16        84912.15
2022-03        4.80   256322.10        11739.94
2022-06        2.50   525197.30        12809.69
2022-09        3.00   813829.50        23703.77
2022-12        3.00  1128644.30        32873.14

[124 rows x 3 columns]

In [79]:
1000 * 1.03

1030.0

In [93]:
30 / 0.03 + 30

1030.0

In [81]:
6839 / 0.038 + 6839

186812.68421052632